* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(imgs/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    height: 100vh;
    position: relative;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    position: absolute;
    top: 27px;
    left: 50px;
}

.main-nav {
    display: flex;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;   
    position: absolute;
    top: 10px;
    right: 20px;
}

.main-nav li {
    list-style: none;
    margin-top: 20px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

a:hover {
    color:#FF6565;
}

.header-content {
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
    margin: 100px;
    align-items: center;
}

.header-content h1 {
    margin-top: 60px;
}

.header-content p {
    margin-top: 20px;
    /* padding: 10px; */
}

.header-content button {
    background-color: #FF6565;
    padding: 10px;
    margin: 40px;
    border: 10px solid #FF6565;
    color: white;
    font-size: 17px;
    border-radius: 2em;
    cursor: pointer;
    width: 20%;
    text-transform: uppercase;
}

.description p  {
    text-align: center;
    line-height: 1.6em; 
    padding: 40px 200px; 
    margin-bottom: 60px;
}  

.menu-icon {
    display: none;
}


@media only screen and (max-width: 600px) {
    .main-nav li{
        display: none;
    }

    header {
        width: 600px;
        height: 1000px;
    }


    .header-1 {
        display: flex;
        justify-content: space-between;
    }

    .menu-icon {
        display: flex;
        width: 25px;
        height: 25px;
        position: relative;
        top: 42px;
        right: 521px;
    }

    .logo {
        width: 55%;
        position: relative;
        top: 24px;
        left: 136px;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        margin: 20px;
        align-items: center;
    }

    .header-content h1 {
        margin-top: 290px;
        font-size: 10vw;
    }

    .header-content p {
        margin-top: 17px;
        padding: 0 61px;
        /* font-size: 16vm; */
    }

    .header-content button {
        background-color: #FF6565;
        padding: 10px;
        margin: 40px;
        border: 5px solid #FF6565;
        color: white;
        font-size: 3vw;
        border-radius: 2em;
        cursor: pointer;
        width: 50%;
        text-transform: uppercase;
    }

    .description {
        line-height: 1.6em;
        padding: 0 9px;
        margin: 0 -42px;
    }
}

/* What we do section*/

section {
    height: 700px;
    background-color: white;
    color: black;
    padding: 20px;
}

.what-we-do h2 {
    text-align: center;
    padding-top: 40px;
}

.middle {
    text-align: center;
    line-height: 1.6em;
    padding: 50px 400px;
}

.option-list {
    display: flex;
    flex-direction: row;
    /* padding-top: 50px; */
    margin-top: 60px;
}

.option-list img {
    width: 30%;
    margin-left: 35%;
}

h3 {
    padding: 20px;
    text-align: center;
}

.option-list-text {
    padding: 20px;
    margin: 12px ;
    text-align: center;
}



@media only screen and (max-width: 600px) {

    section {
        /* display: flex; */
        height: 1500px;
        width: 600px;

    }

    .middle {
        padding: 30px 137px;
    }

    .option-list {
        flex-direction: column;
        /* padding: 20px; */
    }

    .option-list img {
        width: 20%;
        margin-left: 39%;
    }

    .option-list-text {
        padding: 0 143px;
        margin: 24px
    }

}

/* OUR RESULTS SECTION */

.result {
    height: 700px;
    background-image: url(imgs/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

.container {
    padding: 20px;
    margin: 20px;
}

.middle-1 {
    text-align: center;
    line-height: 1.6em;
    padding: 50px 360px;
}

.middle-1 h2 {
    padding: 20px;
    margin: 20px;
    text-transform: capitalize;
}

.middle-1 p {
    padding: 10px 10px;
}

.pen-logo img {
    width: 193px;
    padding: 7px;
    margin: 29px;
    position: relative;
    left: 170px;
}

.image-container {
    position: relative;
    display: inline-block;
}


.image-container img {
    display: block;
    /* width: 45%; */
    /* height: auto; */
}

.overlay-text {
    position: absolute;
    top: 50%; 
    left: 119%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 33px; 
    text-align: center;
    font-weight: bold;
}

.overlay-text-1 {
    position: absolute;
    top: 199px;
    left: 298px;
    font-size: 11px;
    margin: -49px;
}

@media only screen and (max-width: 600px) {
        
    .result {
        width: 600px;
        height: 1500px;
        display: flex;
        flex-direction: row;
    }

    .container {
        padding: 0;
        margin: 16px;
    }

    .middle-1 {
        padding: 50px 75px;
    }

    .pen-logo img {
        width: 259px;
        padding: 18px;
        margin: -2px;
        position: relative;
        left: 137px;
        display: flex;
        flex-direction: column;
    }

    .image-container {
        display: flex;
        flex-direction: column;
    }

    .overlay-text {
        left: 51%;
        font-size: 56px;
    }

    .overlay-text-1 {
        top: 213px;
        left: 254px;
        font-size: 15px;
    }
}