/* Hero Section */


.hero {
color: #ffffff;
text-align: center;
padding: 2rem 0;
background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 49, 61, 0.0001) 0%, #071629 100%), url("images/object.png");
background-blend-mode: color;
background-size: cover;
background-position: center;
}
